*{
font-family: 'Roboto Condensed', sans-serif;
}       
.navcolor {
    background-color: #0cc666;    
}
            
.push-right {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}

#intro{
    background-image: url("./images/background2.jpg");
    background-size: cover;
}

header{
    text-align: center;
}

 
.lead{
    animation:type 1s steps(25);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes type{
    0%{
    width: 0ch;
}
    100%{
    width: 25c;   
}       
}    

img{
    border-radius: 5px;
}

#course{
    margin-top: 200px;
    margin-bottom: 100px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
    padding-bottom: 100px;
}


                    
.javaGame{
    padding-top: 10px;
    height: 400px;
    background-image: url("images/ilya-pavlov-OqtafYT5kTw-unsplash\ \(1\).jpg");
    color: white;
    background-size: cover;
    text-align: center;
}

#grid {
    display: flex;                      
    flex-wrap: wrap;                   
    justify-content: space-around;
    color: black;
  }

#grid .cell {
    flex: 0 0 33%;                       
    margin-bottom: 5px;
    background-color:white;
    height: 50px;
    width: 30px;
    border: solid black 5px;
  }
         
.contactme{
    background-color: #303633;
    color: white;
    height: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
            
footer{
    background-color: #00cc66;
    height:100px;
    padding-top: 20px;
    text-align: center;
    }       

@media only screen and (max-width: 576px) {
    #intro img{
        height: 300px;
        width:  300px;
    }
       
    #course{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    }
    
    #course img{
    height: 200px;
    width:  200px;
    }

    .timeline img{
        height: 200px;
        width:  175px;

    }
    .socialmedia{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
   
    }
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}