*{
text-align: center

}


.navcolor {
    background-color: #f5b700;    
}

.push-right {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}

.lead{
    animation:type 1s steps(25);
    overflow: hidden;
    white-space: nowrap;
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 25c;   
    }

}

.pictureflex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
    
}



.JavaGame{
    padding-top: 10px;
    background-color: #7dcd85;
    height: 400px;
}

.contactme{
    background-color: #303633;
    color: white;
    height: 100;
}

footer{
    background-color: #f5b700;
    height: 75px;
    padding-top: 20px;
}

